li{
	list-style-type: none;
}
/*#49A34B*/
/*#5AB953   -*/
/*#71D161*/
/*#BEEE9E*/
/*#E6FFBF*/

.nav{
	background-color: #5AB953;
}
h1{
	margin:0;
	/*color: white;*/
}
.center{
	text-align: center;
}
.panel{
	padding: 0;
}